<ion-view view-title="AddCarro">
  <ion-content>
	  
	   <div>
        <button class ="button button-block button-positive" ng-click="buscarNuevoCarro()" >
         Buscar nuevo Dispositivo 
         </button>
      </div>
	  
	  <div class="item">
        <ion-list>
          <ion-item ng-repeat="carrito in nuevosCarros" >
            <p>{{carrito.id}}</p>
            <p>{{carrito.name}}</p>
            <p>{{carrito.rssi}}</p>
          </ion-item>
        </ion-list>
     </div>
    
     <div class="list card" ng-hide="Mostrar">
		
      <div class="item item-avatar">
        <h2>Nuevo carrito</h2>
      </div>
      
      <div class="item item-body">
      <img class="full-image" src="https://www.quia.com/files/quia/users/mackymitma/Juguetes/carro3.gif">
      </div>
      
      <label class="item item-input" >
        <input type="text" placeholder="ID Carro" ng-model="carro.id" >
      </label>
		
      <label class="item item-input">
        <input type="text" placeholder="Nombre del carro" ng-model="carro.Nombre">
      </label>
      
          <label class="item item-input item-select" >
            <div class="input-label">
              Tipo de carrito
            </div>
            
            <select ng-model="carro.tipo">
              <option>Carro manual</option>
              <option selected>Carro Electrico</option>
              <option>Camioneta</option>
            </select>
            
          </label>
         
         <label class="item item-input">
          <input type="text" placeholder="Precio Carro" ng-model="carro.Precio">
        </label>
         
         
        <button class="button button-block button-positive" ng-click="addCarro()">
          Agregar
       </button> 
    
	   </div>
    
  </ion-content>
</ion-view>