<ion-view view-title="{{dispositivo}}">
  <ion-content >
    
    <div class="list">
      
      <div class="item">
        <h1 class="title">DETALLE SERVICIO</h1>
      </div>
    
      <div class="item">
          <h4>Nombre: {{Carro.Nombre}}</h4>
      </div>
      
      <div class="item">
        
        <div class="list">
           <a class="item" ng-repeat="servicio in servicios">
            <p>Fecha del servicio: {{servicio.Fecha}}</p>
            <p>Hora Final servicio: {{servicio.horafinal}}</p>
            <p>Hora Inicial Servicio: {{servicio.horainicio}}</p>
            <p>Duración del servicio: {{servicio.duracion}} min</p>
            <p>Total a cobrar: {{servicio.Cobro | currency}}</p>
           <!-- <p>{{carrito.Nombre}}</p>-->
            </a>
          
         </div>
        
      </div>
      <div>
  </ion-content>
</ion-view>
