<ion-view view-title="Dispositivos">
  <ion-content>
    
    <div class="list">
      
      <div clas="item">
          <h1 class="title">Carritos</h1>
    </div>
    
    <div class="item">
      <div class="list">
    
          <a class="item item-thumbnail-left" ng-repeat="carrito in DispositivosBLE">
            <img src="http://2.bp.blogspot.com/-f11JhmfuMXg/Td-gErSevkI/AAAAAAAAQkM/W_maOJDDhIY/s1600/imageninfantilparaimprimir3.jpg">
            <h2>{{carrito.Id}}</h2>
            <p>{{carrito.Nombre}}</p>
            <p>Estado: {{carrito.Estado}}</p>
          </a>
       
       </div>
                    
       <button class="button button-block button-positive" ng-click="nuevoDispositivo()">
          Agregar
       </button> 
        
    </div>
   </div>
   
   
    <!--<ion-list>
     <ion-item class="item" ng-repeat="carrito in DispositivosBLE" type="item-text-wrap">
        <h2>{{carrito.Nombre}}</h2>
        <p>{{carrito.Id}}</p>
      </ion-item>
    </ion-list>-->
  </ion-content>
</ion-view>
