<ion-view view-title="ActualServicio" >
  
  <ion-content>
    
     <div class="list">
       <div class="item">
          <h1>CarMonitor</h1>
       </div>
       
       <div class="item">
          <button class="button button-block button-positive" ng-click="conectar()">
            Inicializar servicio
          </button>
        </div>
        
      <div class="item">
      
        <ion-list>
          <ion-item ng-repeat="device in devices" >
            <p>{{device.Nombre}}</p>
            <p>{{device.Estado}}</p>
            <!--<p>{{device.timerServicio}}</p>
            <p>{{device.timer}}</p>
            <p>{{device.rssi}}</p>
             <p>{{device.Estado}}</p>
            <p>{{device.timer}}</p>
            <p>{{device.HoraInicio}}</p>
            <p>{{device.HoraFin}}</p>-->
           <ion-toggle  ng-model="device.Mantenimiento" ng-hide="denegarMantenimiento" 
                    ng-checked="true">Fuera de servicio</ion-toggle>
          </ion-item>
        </ion-list>
        
        </div>
        
        <div class="item">
          <button class="button button-block button-positive" ng-click="parar()">
           Finalizar Sesion
          </button>
        </div>
        
      </div>
  </ion-content>
</ion-view>
