<ion-view view-title="Servicios">
  <ion-content>
    <div class="list">
      
    
         <div class="item">
            <h1>CarMonitor</h1>
          </div>
      
      
      
     <div clas="item">
      <div class="list">
          <a class="item item-thumbnail-left" ng-repeat="carrito in Carros"  href="#/tab/chats/{{carrito.id}}">
            <img src="http://2.bp.blogspot.com/-f11JhmfuMXg/Td-gErSevkI/AAAAAAAAQkM/W_maOJDDhIY/s1600/imageninfantilparaimprimir3.jpg">
            <h2>{{carrito.id}}</h2>
            <p>{{carrito.Nombre}}</p>
          </a>
       </div>   
    </div>
    
    
    </idiv>
  </ion-content>
</ion-view>
