<ion-view view-title="Dashboard">
  
  <ion-content>
    
     <div class="list">
       <div class="item">
          <h2>Carritos CC</h2>
       </div>
       
       <div class="item">
          <button class="button button-block button-positive" ng-click="conectar()">
            Buscar Carros
          </button>
        </div>
      <div class="item">
        <ion-list>
          <ion-item ng-repeat="device in conectados" >
            <p>{{device.id}}</p>
            <p>{{device.name}}</p>
          </ion-item>
        </ion-list>
        </div>
      </div>
  </ion-content>
</ion-view>
